NODE_ENV=production
WEB_URL=https://app.kopapadi.com
BETTER_AUTH_URL=https://api.kopapadi.com
BETTER_AUTH_SECRET=...
DATABASE_URL=...
DATABASE_SSL=true
ZEPTO_MAIL_API_KEY=...
ZEPTO_MAIL_FROM_ADDRESS=...
PRIVATE_UPLOAD_ROOT=...